* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Helvetica, Arial, sans-serif;
    color: #3d3d3d;
}

/* Start Header */
header{
    padding: 20px 35px 20px 0;
    background-color: #3d3d3d;
}

header h1{
    font-weight: bold;
    font-size: 36px;
    background-color: #f85c1f;
    margin: 0;
    padding: 3px 10px 3px 50px;
    display: inline;
}

header a{
    text-decoration: none;
    color: #3d3d3d;
}

header nav {
    float: right;
    margin: 7px 0;
}
header nav a{
    color:  #f85c1f;
}

header nav ul li {
    display: inline;
    
}

header nav ul li a {
    margin: 0 15px;
    font-weight: lighter;
    font-size: 22px;
    text-decoration: underline;
}
/* End Header */


/* Start Hero */
section{
    padding: 60px;
}

.hero{
    background-image: url("../images/pexels-photo-414579.jpeg");
    height: 400px;
    background-size: cover;
    background-position: center;
    position: relative;
}

.prof-pic {
    position: absolute;
    bottom: 50px;
    left: 50px;
    width: 300px;
    height: 300px;
    overflow: hidden;
    border-radius: 50%;
    padding: 0;
    border: solid 5px #f85c1f;
}

.prof-pic img{
    width: auto;
    height: 150%;
    margin-left: -20px; 
    margin-top: -15px;
}

.intro {
    width: fit-content;
    background-color: #f85c1f;
    color: #3d3d3d;
    font-size: 24px;
    padding: 3px;
    position: absolute;
    bottom: 185px;
    left: 400px;
}
/* End Hero */

.about-me {
    display: flex;
    justify-content: space-between;
}

.section-titles {
    width: 400px;
    text-align: right;
    color: #3d3d3d;
    border-right: #f85c1f solid;
    padding-right: 10px;
}
.content {
    padding-left: 10px;
}


/* Start Footer */
footer {
    background:  #f85c1f;
    width: 100%;
    padding: 40px 35px;
}

footer h2{
    display: inline;
    color: #024e76;
    font-size: 30px;
    margin: 0;
}

footer div{
    float: right;
    line-height: 1.5;
    text-align: right;
}

footer a {
    color: #024e76;
}
/* End  Footer */